
<div class="Subhead">
  <div class="Subhead-heading">Leaderboard for <%= @season.description %> season</div>
  <div class="Subhead-description">
    Starts <%= l @season.start_date, format: :date %>, ends <%= l @season.end_date, format: :date %>
  </div>
</div>

<h4>Scoring rules:</h4>
<ul class="pl-6">
  <li>3 points for first place</li>
  <li>2 points for second place</li>
  <li>1 points for third place</li>
  <li>0.5 points for honorable mention</li>
  <li>x2 multiplier for Best of Show place</li>
  <li>0.5 point bonus for high profile competitions</li>
</ul>

<table class="data-table">
  <thead>
    <tr class="bg-gray">
      <td>Brewer Name</td>
      <td>Season Score</td>
    </tr>
  </thead>

  <tbody>
    <% @leaderboard.results.each do |result| %>
      <%= content_tag(:tr, id: "user-#{result.user_id}") do %>
        <%= content_tag(:td) do %>
          <%= link_to result.brewer_name, trophies_path(user_id: result.user_id) %>
        <% end %>

        <%= content_tag(:td, result.score) %>
      <% end %>
    <% end %>
  </tbody>
</table>
