<% @competitions.each do |competition| %>
  <div class="Box my-3">
    <div class="Box-header">
      <h3 class="Box-title">
        <%= link_to trophies_by_season_path(competition.season, competition_id: competition) do %>
          <%= l competition.date, format: :short %>
          :
          <%= competition.name %>
        <% end %>

        <% if competition.high_profile? %>
          <span class="Label Label--outline Label--outline-green float-right">
            <%= competition.competition_type.gsub("_", " ") %>
          </span>
        <% end %>
      </h3>
    </div>

    <div class="medals-container">
      <ul>
        <% %w(best_of_show category).each do |context| %>
          <% trophies = competition.trophies.placed_in(context) %>
          <% if trophies.any? %>
            <li class="p-2">
              <div>
                <%= render "medals", competition: competition, context: context %>
              </div>

              <span class="category-awards-label">
                <%= trophies.count %>
                <%= context.titleize %>
                <%= "Award".pluralize(trophies.count) %>
                by
                <%= worts_count = trophies.count("DISTINCT user_id") %>
                <%= "Wort".pluralize(worts_count) %>
              </span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
