<table class="trophies-table">
  <thead>
    <tr>
      <td>Brewer</td>
      <td>BJCP Score</td>
      <td>Comp Date</td>
      <td>Comp Link</td>
      <td>Place</td>
    </tr>
  </thead>
  <tbody>
    <% @trophies.each do |trophy| %>
      <tr>
        <td><%= trophy.user.full_name %></td>
        <td><%= trophy.bjcp_score %></td>
        <td><%= trophy.competition_date %></td>
        <td>
          <%= link_to trophy.competition_url do %>
            <%= octicon "law", height: 24,  class: "right left" %>
          <% end %>
        </td>
        <td><%= trophy.place_description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
