<div class="Subhead">
  <div class="Subhead-heading">Trophies</div>
  <div class="Subhead-actions">
    <%= content_tag(:a, "Add Trophy", class: "btn btn-primary", href: "/trophies/new") %>
  </div>
</div>

<div class="tabnav">
  <nav class="tabnav-tabs">
    <% Competition.seasons_descending.each do |season| %>
      <% selected_tab_class = @season == season ? " selected" : "" %>
      <%= link_to season.description, trophies_by_season_path(season.to_param), class: "tabnav-tab#{selected_tab_class}" %>
    <% end %>
  </nav>
</div>

<%= form_tag nil, method: :get, class: "mb-4" do %>
  <%= select_tag :competition_id, options_from_collection_for_select(@competitions_in_season, :id, :name, params[:competition_id]), class: "form-select", onchange: "this.form.submit()", prompt: "All Competitions" %>
<% end %>

<%= form_tag nil, method: :get, class: "mb-4" do %>
  <%= select_tag :user_id, options_from_collection_for_select(@users, :id, :full_name, @user_id), class: "form-select", onchange: "this.form.submit()", prompt: "All Worts" %>
<% end %>

<%= form_tag nil, method: :get, class: "mb-4" do %>
  <%= select_tag :subcategory_id, options_from_collection_for_select(@subcategories_in_season, :id, :description, @subcategory_id), class: "form-select", onchange: "this.form.submit()", prompt: "All Categories" %>
<% end %>

<% if @trophies.any? %>
  <%= render "table", trophies: @trophies %>
<% else %>
  <div class="blankslate">
    <h3>No trophies yet</h3>
    <p>But we're on it</p>
  </div>
<% end %>
