<table class="trophies-table">
  <thead>
    <tr>
      <td>Brewer</td>
      <td>Category</td>
      <td>Score</td>
      <td>Comp Date</td>
      <td>Place</td>
      <td>Links</td>
    </tr>
  </thead>
  <tbody>
    <% @trophies.each do |trophy| %>
      <tr>
        <td><%= trophy.user.full_name %></td>
        <td><%= trophy.subcategory&.bjcp_id %></td>
        <td>
          <span class="Counter"><%= trophy.bjcp_score %></span>
        </td>
        <td><%= trophy.competition_date %></td>
        <td><%= trophy.place_description %></td>
        <td>
          <%= link_to trophy.competition_url do %>
            <%= octicon "law", height: 24,  class: "right left" %>
          <% end %>

          <% if trophy.photo.attached? %>
            <%= link_to url_for(trophy.photo) do %>
              <%= octicon "file-media", height: 24,  class: "right left" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
