<%= form_for(@trophy) do |f| %>
  <% if @trophy.errors.any? %>
    <h2>Errors:</h2>
    <ul>
      <% @trophy.errors.full_messages.each do |error| %>
        <li>
          <%= error %>
        </li>
      <% end %>
    </p>
  <% end %>

  <h2>Add a trophy for <%= current_user.full_name %></h2>

  BJCP Score (1 to 50): <%= f.number_field :bjcp_score %>
  Competition Date: <%= f.date_select :competition_date, end_year: Date.today.year %>
  Competition URL: <%= f.text_field :competition_url %>

  <%= f.submit %>
<% end %>
