<!DOCTYPE html>
<html>
  <head>
    <title>Worts Trophy Case</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="container-md">
      <h1>Worts Trophy Case</h1>

      <nav class="menu" aria-label="Menu">
        <%= nav_link "/" do %>
          <%= octicon "star" %>
          Trophies
        <% end %>

        <%= nav_link "/competitions/new" do %>
          <%= octicon "plus" %>
          Add Competition
        <% end %>

        <%= nav_link "/trophies/new" do %>
          <%= octicon "plus" %>
          Add Trophy
        <% end %>

        <% if current_user %>
          <%= nav_link edit_my_profile_path do %>
            <%= octicon "person" %>
            My Profile
          <% end %>
        <% end %>
      </nav>

      <% if flash[:error] %>
        <div class="flash flash-error my-3"><%= flash[:error] %></div>
      <% end %>

      <% if flash[:notice] %>
        <div class="flash flash-success my-3"><%= flash[:notice] %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
