<!DOCTYPE html>
<html>
  <head>
    <title>Worts Trophy Case</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="container-md">
      <h1>Boston Worts Trophy Case</h1>

      <nav class="menu" aria-label="Menu">
        <%= nav_link "Trophies", "/" %>
        <%= nav_link "Add Trophy", "/trophies/new" %>

        <% if current_user %>
          <%= nav_link "My Profile", edit_my_profile_path %>
        <% end %>
      </nav>

      <% if flash[:error] %>
        <div class="flash flash-error my-3"><%= flash[:error] %></div>
      <% end %>

      <% if flash[:notice] %>
        <div class="flash flash-success my-3"><%= flash[:notice] %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
